* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  gap: 35px;
  justify-content: end;
  align-items: center;
  z-index: 2;
  min-height: 124px;
  background: linear-gradient(
      1.02deg,
      #fc0b0d -17.21%,
      rgba(74, 153, 211, 0) 75.91%
    ),
    #ffffff;
  flex-wrap: wrap;

  color: black;
  position: relative;
  padding-right: 100px;
  li {
    list-style-type: none;

    a {
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      color: #0f001a;
      text-decoration: none;
    }
  }

  .login {
    margin-right: 100px;
  }

  .soko {
    color: #4a99d3;
    margin-right: auto;
    padding-left: 150px;
    max-width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
  }

  .register {
    margin-right: 0px;
  }

  .fas {
    font-size: 35px;
    display: none;
  }

  .hamburger {
    display: none;
  }
}

.dropdown {
  opacity: 0;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  display: none;
}

// responsive code

@media screen and (max-width: 1150px) {
  nav .hamburger {
    display: block;
    fill: black;
    padding-block: 1px;
    margin-right: -80px;
  }

  .dropdown {
    position: relative;
    z-index: 2;
    background-color: aqua;
    height: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
    font-size: 16px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    a {
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid blue;
      padding-bottom: 6px;
    }

    a:last-child {
      border-bottom: none;
      padding-bottom: 10px;
    }
  }

  .register {
    display: none;
  }

  .login {
    display: none;
  }

  .sell {
    display: none;
  }
  .profile {
    display: none;
  }

  .ads {
    display: none;
  }

  nav {
    .add_svg {
      display: none;
    }

    .profile-svg {
      display: none;
    }

    .soko {
      margin-left: -110px;
      font-size: 30px;
    }

    .GO-BACK {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  nav {
    .soko {
      font-size: 15px;
    }

    .hamburger {
      margin-right: -90px;
    }
  }
}

@media screen and (max-width: 350px) {
  nav {
    .soko {
      font-size: 12px;
    }

    .hamburger {
      margin-right: -90px;
    }
  }
}

section {
  .container {
    display: flex;
    gap: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .img-box {
      .img {
        margin-top: 98px;
        width: 100%;
      }
    }

    .right-side-content {
      margin-top: 98px;
      .sign-up {
        width: 239px;
        max-width: 100%;
        height: 52px;
        color: black;
        background: #e6e6e6;
        font-weight: bold;
        font-size: 15px;
      }

      .sign-in {
        color: black;
        background: #eaf6ff;
        width: 239px;
        max-width: 100%;
        height: 52px;
        font-size: 15px;
        font-weight: bold;
      }

      .account {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        margin-left: 7px;

        letter-spacing: 0.02em;
      }

      .get-started {
        margin-top: -50px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin-left: 7px;
        letter-spacing: 0.02em;

        color: #8d8d8d;
      }

      input {
        margin-left: 5px;
        width: 430px;
        padding: 5px;
        outline: none;
        border-radius: 2px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
      }

      label {
        margin-left: 5px;
      }

      .create {
        width: 435px;
        max-width: 100%;
        min-height: 65px;
        background: #fc0b0d;
        border-radius: 20px;
        color: white;
      }
      .sign-in2 {
        background: #f5f5f5;
        width: 435px;

        min-height: 65px;
        max-width: 100%;
        margin-top: 20px;
        border-radius: 20px;
        color: red;
      }

      .already {
        text-align: center;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
      }

      span {
        color: #3ec1f3;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  section {
    .container {
      .right-side-content {
        margin-top: -200px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section {
    .container {
      .right-side-content {
        input {
          width: 100%;
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  section {
    .container {
      .right-side-content {
        font-size: 12px;
        input {
          width: 100%;
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  section {
    .container {
      .right-side-content {
        margin-top: -200px;
      }
    }
  }
}

@media screen and (max-width: 434px) {
  section {
    .container {
      margin-left: 50px;

      .right-side-content {
        input {
          width: 200px;
          border: 1px solid red;
          border-top: 0;
          border-left: 0;
          border-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 454px) {
  section .container .right-side-content .create {
    width: 250px;
  }

  section .container .right-side-content .sign-in2 {
    width: 250px;
  }
}

@media screen and (max-width: 320px) {
  section {
    .container {
      .right-side-content {
        font-size: 12px;
        input {
          max-width: 200px;
        }
      }
    }
  }
}

footer {
  .container6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 106px;
    background: #eaf6ff;
    min-height: 404px;
    position: relative;

    .text {
      .online-shop {
        padding-top: 60px;
        padding-left: 71px;
        color: #000000;
      }

      .lorem-footer {
        padding-top: 20px;
        padding-left: 71px;
        max-width: 610px;
        color: #504a41;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
  .text-right-side {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: #000000;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-top: 41px;
    margin-left: 179px;
    x .phone-number {
      display: flex;

      gap: 15px;
    }

    .location {
      display: flex;
      gap: 15px;
    }

    .gmail {
      display: flex;
      gap: 15px;
    }

    .text5 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: gray;

      .contact {
        margin-bottom: 29px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
      }
    }

    .text6 {
      color: #000000;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }

    .about-us {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }

    .Support {
      margin-top: 41px;
    }
  }
}

@media screen and (max-width: 1270px) {
  .container6 {
    .text-right-side {
      display: flex;
      flex-direction: column;

      .text5 {
        margin-left: -140px;
        font-size: 10px;
      }

      .text6 {
        margin-left: -140px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 836px) {
  .container6 {
    .text-right-side {
      .text5 {
        margin-left: -50px;
        font-size: 18px;
      }

      .text6 {
        margin-left: -50px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 445px) {
  .container6 {
    .text {
      margin-left: -40px;
    }
    .text-right-side {
      .text5 {
        margin-left: -120px;
        font-size: 13px;
      }

      .text6 {
        margin-left: -120px;
        font-size: 13px;
      }
    }
  }
}
