* {
  box-sizing: border-box;
}
 










nav {
  display: flex;
  gap: 35px;
  justify-content: end;
  align-items: center;
z-index: 2
;
  min-height: 124px;
  background: linear-gradient(
      1.02deg,
      #fc0b0d -17.21%,
      rgba(74, 153, 211, 0) 75.91%
    ),
    #ffffff;
  flex-wrap: wrap;

  color: black;
  position: relative;
  padding-right: 100px;
  li {
    list-style-type: none;

    a {
      transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      
      color: #0f001a;
      text-decoration: none;
    }
  }

 

  .login {
    margin-right: 100px;
  }



  .soko {
    color: #4a99d3;
    margin-right: auto;
    padding-left: 150px;
max-width: 100%;
    font-weight: 700;
   font-size: 30px;
    line-height: 60px;
  }

  .register {
    margin-right: 0px;
  }

.fas{
  font-size: 35px;
  display: none;
}

.hamburger{
  display: none;
}


 


 
}



.dropdown{
  opacity: 0;

}

#overlay{

width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
overflow: hidden;

display: none;
}




// responsive code


@media screen and (max-width:1150px){




nav .hamburger{
  display: block;
  fill: black;
  padding-block:1px ;
  margin-right: -80px;
}



.dropdown{
  background-color: aqua;
   height: 0;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
  font-size: 16px;
transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);


h6{
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid blue ;
  padding-bottom: 6px;
  color: black;
}

h6:last-child{


border-bottom: none;
padding-bottom: 10px;
}

}



  .register{
    display: none;
  }


  .login{
    display: none;
  }

  .sell{
    display: none;
  }
.profile{
  display: none;
}


.ads{
  display: none;
}



nav{


.add_svg{
  display: none;
}


.profile-svg{
  display: none;
}

.soko{
  margin-left: -110px;
  font-size: 30px;
}















}




}

@media screen and (max-width:520px){
nav {

.soko{
  font-size: 20px;
}

.hamburger{
  margin-right: -90px;
}

}

}

@media screen and (max-width:350px){
  nav {
  
  .soko{
    font-size: 15px;
   
  }
  
  .hamburger{
    margin-right: -90px;
  }
  
  }
  
  }


//responsive code navbar







// nav styling ends here

// header styling starts here

header {
  .container {
    max-width: 1297px;
width: 100%;

    min-height: 364.78px;
   
    background: #eaf6ff;
    .text {
      position: relative;
      .buy-sell {
        font-weight: 400;
        font-size: 33px;
        line-height: 40px;
        color: #000000;
     padding-left: 140px;
       padding-top: 100px;
        
        max-width: 503px;
        min-height: 86px;
        text-align: center;
      }

      .search-input {
        width: 575px;
        max-width: 100%;
        border: 2px solid #fc0b0d;
        border-radius: 20px;
        min-height: 69px;
   margin-left: 150px;
     margin-top: 20px;
      
        padding: 15px;
        outline: none;
        background: #eaf6ff;
      }

      .search-input::placeholder {
        color: #004b84;
        font-weight: 400;
        font-size: 18px;
        font-family: "Inter";
        font-style: normal;
      }

    }
  }
}


@media screen and (max-width:740px){

header{


.container{



.text{


  .buy-sell{

    font-size: 15px;
    text-align: left;
    margin-left: -110px;
  }

.search-input{

margin-left: 10px;
width: 400px;
max-width: 100%;
}



}

}


}


}


section{ 
   .container2 {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
 margin-top: 100px;
    .text2 {
      background: #fafafa;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 626px;
      height: 303px;
      
     
     

      .used {
        font-weight: 600;
        font-size: 29.65px;
        line-height: 36px;
     margin-left: 45px;
     margin-top: 41px;
        max-width: 185px;
        margin-block-start: 36px;
        
      }

      .lorem-1 {
        margin-left: 28px;
        margin-top: 30px;
        max-width: 279px;
        min-height: 100px;
     
        font-weight: 300;
        font-size: 20.65px;
        line-height: 25px;
      }

      .view-button {
       color: white;
       margin-top:-21px;
        width: 153px;
      height: 48px;
      margin-left: 86px;
        left: 86px;
        top: 228px;
        border: none;

        background: #fc0b0d;
        border-radius: 10px;
      }
    }
  }


@media screen and (max-width:1254px) {




}

  .container3 {
    display: flex;
    justify-content: center;
    gap: 21px;
    flex-wrap: wrap;

    .card {
      width: 308px;
      height: 368px;
      
      padding-bottom: 2px ;
      margin-top: 60px;
    }

    .img1 {
      width: 259.94px;
      height: 222.69px;
      margin-top: 50px;
    }

    .meza {
      color: #000000;
      margin-left: 15px;
    }

    .tzs {
      margin-left: 15px;
      color: #eb3223;
    }

    .used_button {
      font-weight: 600;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.08em;
      background: #f12b2c;
      border-radius: 4px;
      padding: 2px 6px;
      border: none;
      margin-left: 150px;
      color: #ffffff;
    }

    .university {
      color: #000000;

      opacity: 0.5;
      margin-top: 1px;
      margin-left: 15px;
    }

    .flex2 {
      display: flex;
      gap: 15px;
      .date {
        color: #000000;

        opacity: 0.5;
      }
    }
  }



  .container4 {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    gap: 21px;
    flex-wrap: wrap;

    .card {
      width: 308px;
      height: 368px;
      margin-top: 200px;
    }

    .img1 {
      width: 259.94px;
      height: 222.69px;
      margin-top: 49px;
    }

    .meza {
      color: #000000;
      margin-left: 15px;
    }

    .tzs {
      margin-left: 15px;
      color: #eb3223;
    }

    .used_button {
      font-weight: 600;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.08em;
      background: #f12b2c;
      border-radius: 4px;
      padding: 2px 6px;
      border: none;
      margin-left: 150px;
      color: #ffffff;
    }

    .university {
      color: #000000;

      opacity: 0.5;
      margin-top: 1px;
      margin-left: 15px;
    }

    .flex2 {
      display: flex;
      gap: 15px;
      .date {
        color: #000000;

        opacity: 0.5;
      }
    }
  }
  .container5 {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    gap: 21px;
    flex-wrap: wrap;

    .card {
      width: 308px;
      height: 368px;
     margin-top: 150px;
    }

    .img1 {
      width: 259.94px;
      height: 222.69px;
      margin-top: 49px;
    }

    .meza {
      color: #000000;
      margin-left: 15px;
    }

    .tzs {
      margin-left: 15px;
      color: #eb3223;
    }

    .used_button {
      font-weight: 600;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.08em;
      background: #f12b2c;
      border-radius: 4px;
      padding: 2px 6px;
      border: none;
      margin-left: 150px;
      color: #ffffff;
    }

    .university {
      color: #000000;

      opacity: 0.5;
      margin-top: 1px;
      margin-left: 15px;
    }

    .flex2 {
      display: flex;
      gap: 15px;
      .date {
        color: #000000;

        opacity: 0.5;
      }
    }
  }
  .button-view-box {
    display: flex;
    justify-content: center;
    width: 221px;
    max-width: 100%;
    height: 70.25px;
    background: #ffffff;
    border: 1px solid #fc0b0d;
    border-radius: 14.4439px;
    margin: auto;
    margin-top: 81px;

    .view_button {
      color: black;
      text-align: center;
      border: none;
      outline: none;
      background-color: white;
      font-size: 29.8267px;
    }
  }

  .line-box {
    display: flex;
    gap: 249px;
    justify-content: space-around;
    .line-left {
      width: 680px;
      border: 2px solid #e5e5e5;
    }

    .line-right {
      border: 2px solid #e5e5e5;
      width: 680px;
    }
  }
}

@media screen and (max-width:615px) {


  .view-button{


    .line-box{
    display: none;
  }
  }
  


}




@media screen and (max-width:634px){




}


footer {
  .container6 {
    display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
    margin-top: 106px;
    background: #eaf6ff;
    min-height: 404px;
    position: relative;

    .text {
      .online-shop {
        padding-top: 60px;
        padding-left: 71px;
        color: #000000;
      }

      .lorem-footer {
        padding-top: 20px;
        padding-left: 71px;
        max-width: 610px;
        color: #504a41;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  .text-right-side {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: #000000;
display: flex;
gap: 50px;
flex-wrap: wrap;
padding-right: 30px;
    margin-top: 41px;
    margin-left: 179px;

    .phone-number {
      display: flex;
      
      gap: 15px;
    }

    .location {
      display: flex;
      gap: 15px;
    }

    .gmail {
      display: flex;
      gap: 15px;
    }

    .text5 {
    

      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: gray;

      .contact {
        margin-bottom: 29px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
      }
    }

    .text6 {
     
    
      color: #000000;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }

    .about-us {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }

    .Support {
      margin-top: 41px;
    }
  }
}

@media screen and (max-width:1270px) {
  
.container6{

.text-right-side{
  display: flex;
  flex-direction: column;

.text5{
  margin-left: -140px;
  font-size: 10px;
}

.text6{
  margin-left: -140px;
  font-size: 10px;
}

}

}

}


@media screen and (max-width:836px) {
  
  .container6{
  
  .text-right-side{
   
   
  
  .text5{
    margin-left: -50px;
    font-size: 18px;
  }
  
  .text6{
   
    margin-left: -50px;
    font-size: 18px;
  }
  
  }
  
  }
  
  }


  
@media screen and (max-width:445px) {
  
  .container6{
  
  .text-right-side{
   
   
  
  .text5{
    margin-left: -120px;
    font-size: 13px;
  }
  
  .text6{
    margin-left: -120px;
    font-size: 13px;
  }


  
  }
  
  }
  
  }
  
